<div class="container">

	<div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div id="divMessages"></div>
            <form id="configurationForm">
                <h3>MongoDB</h3>
                <div class="form-group">
                    <label for="mongoDbAddress">MongoDB Address</label>
                    <input type="text" class="form-control" id="mongoDbAddress" name="mongoDbAddress" value="{{mongoDbAddress}}">
                </div>

                <div class="form-group">
                    <label for="mongoDbPort">MongoDB Port</label>
                    <input type="number" class="form-control" id="mongoDbPort" name="mongoDbPort" value="{{mongoDbPort}}">
                </div>

                <div class="form-group">
                    <label for="mongoDbUser">MongoDB User</label>
                    <input type="text" class="form-control" id="mongoDbUser" name="mongoDbUser" value="{{mongoDbUser}}">
                </div>

                <div class="form-group">
                    <label for="mongoDbPassword">MongoDB Password</label>
                    <input type="password" class="form-control" id="mongoDbPassword" name="mongoDbPassword" value="{{mongoDbPassword}}">
                </div>

                <div class="form-group">
                    <label for="mongoDbDatabase">MongoDB Database Name</label>
                    <input type="text" class="form-control" id="mongoDbDatabase" name="mongoDbDatabase" value="{{mongoDbDatabase}}">
                </div>
                
                <h3>Twitter Credentials</h3>
                <div class="form-group">
                    <label for="twitterConsumerKey">Consumer Key</label>
                    <input type="text" class="form-control" id="twitterConsumerKey" name="twitterConsumerKey" value="{{twitterConsumerKey}}">
                </div>

                <div class="form-group">
                    <label for="twitterConsumerSecret">Consumer Secret</label>
                    <input type="text" class="form-control" id="twitterConsumerSecret" name="twitterConsumerSecret" value="{{twitterConsumerSecret}}">
                </div>

                <div class="form-group">
                    <label for="twitterTokenKey">Token Key</label>
                    <input type="text" class="form-control" id="twitterTokenKey" name="twitterTokenKey" value="{{twitterTokenKey}}">
                </div>

                <div class="form-group">
                    <label for="twitterTokenSecret">Token Secret</label>
                    <input type="text" class="form-control" id="twitterTokenSecret" name="twitterTokenSecret" value="{{twitterTokenSecret}}">
                </div>
            
                <button type="button" class="btn btn-primary" id="configurationFormSubmitButton">Save</button>
            </form>
        </div>

        <div class="col-md-3"></div>

	</div>

</div>

<script type="text/javascript" src="js/configurationClient.js"></script>
